.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
shared_data/vector_index.faiss
shared_data/metadata.json
transcription_service/service_account.json
transcription_service/credentials.json
service_account.json
credentials.json
